* {
    margin:0;
    padding:0;
    border:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    text-align: center;
    font-family: "Montserrat";
    padding-bottom: 30px;
}
ul, li, a {
    display: inline;
    text-decoration: none;
    color: black;
}
li {
    margin:auto 20px;
}
a {
    font-size: 20px;
}
#title {
    text-align: center;
    background-color: cadetblue;
    padding: 20px;
    font-family: "Montserrat";
}
#box {
    display: flex;
    justify-content: center;
    height: auto;
}
.text {
    padding: 15px;
    margin: 10px;
    width:300px;
    float: left;
    border: 5px solid #dd6e42;
    background-color: cadetblue;
}